<!-- views/home.handlebars -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <script>
        async function addToCart(productId) {
            const response = await fetch(`/cart/add/${productId}`, { method: 'POST' });
            const result = await response.json();
            if (result.status === 'success') {
                alert('Producto agregado al carrito');
            } else {
                alert('Error al agregar el producto al carrito');
            }
        }
    </script>
</head>
<body>
    <h1>Productos</h1>
    <ul>
        {{#each products}}  <!-- Iterar sobre cada producto -->
            <li>
                <h3>{{this.title}}</h3>  <!-- Mostrar el título del producto -->
                <p>{{this.description}}</p>  <!-- Mostrar la descripción del producto -->
                <p>Producto ID: {{this._id}}</p>  <!-- Mostrar el ID del producto -->
                <p>Precio: {{this.price}}</p>  <!-- Mostrar el precio del producto -->
                <p>Stock: {{this.stock}}</p>  <!-- Mostrar el stock del producto -->
                <button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>  <!-- Botón para agregar al carrito -->
            </li>
        {{else}}
            <li>No hay productos disponibles</li>  <!-- Mensaje si no hay productos -->
        {{/each}}
    </ul>
</body>
</html>
