<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos en Tiempo Real</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>

    <ul id="productList">
        {{#each products}}
        <li>
            {{title}} - {{description}} - {{price}} - {{stock}}
            <img src="{{thumbnails}}" alt="{{title}}" width="50">
        </li>
        {{/each}}
    </ul>

    <form id="addProductForm">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title">

        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description">

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" step="0.01">

        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock">

        <label for="thumbnails">Thumbnails:</label>
        <input type="text" id="thumbnails" name="thumbnails">

        <button type="button" onclick="addProduct()">Agregar Producto</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io();

        // Escuchar eventos de actualización de productos
        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';

            products.forEach((product) => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `${product.title} - ${product.description} - ${product.price} - ${product.stock} <img src="${product.thumbnails}" alt="${product.title}" width="50">`;
                productList.appendChild(listItem);
            });
        });

        // Función para agregar un nuevo producto
        function addProduct() {
            const title = document.getElementById('title').value;
            const description = document.getElementById('description').value;
            const price = document.getElementById('price').value;
            const stock = document.getElementById('stock').value;
            const thumbnails = document.getElementById('thumbnails').value;

            // Enviar los datos del nuevo producto al servidor
            socket.emit('addProduct', { title, description, price, stock, thumbnails });

            // Limpiar los campos del formulario
            document.getElementById('addProductForm').reset();
        }
    </script>
</body>
</html>
